{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}

    <div class="max-w-screen-xl mx-auto my-20 p-8 bg-white border border-gray-300 shadow-xl">
        <h1>{{ 'Here I am, this is me' | upper  }} <b>{{ name | capitalize }}</b></h1>
        <ul class="mt-10 text-gray-700 text-lg font-light">
            <li><b>Belgium : </b> {{ date | date("F d, Y G:i:s (l)", "Europe/Brussels") }}</li>
            <li><b>Nepal : </b> {{ date | date("F d, Y G:i:s (l)", "Europe/Brussels") }}</li>
            <li><b>New York :</b> {{ date | date("F d, Y G:i:s (l)", "Europe/Brussels") }}</li>
        </ul>

        <ul class="mt-20">
            <li class="inline-block mx-4 py-4">
                <a href="{{ path('showMyName') }}"
                   class="text-gray-500 hover:text-gray-800"
                >Home</a>
            </li>
            <li class="inline-block mx-4 py-4">
                <a href="{{ path('aboutMe') }}"
                   class="text-blue-500 hover:text-blue-500"
                >About me</a>
            </li>
            <li class="inline-block mx-4 py-4">
                <a href="{{ path('transform') }}"
                   class="text-gray-500 hover:text-gray-800"
                >Transform</a>
            </li>
        </ul>

    </div>
{% endblock %}
